<div class="container" ng-controller="equipmentCtrl" ng-hide="data.error">
    <div class="row">
        <table class="col-md-12 table-bordered table-striped table-condensed cf">
            <thead class="cf">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Model Code</th>
                <th>Model Name</th>
                <th>City</th>
                <th>State</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="equipment in data.equipments">
                <td data-title="Name">{{equipment.name}}</td>
                <td data-title="Description">{{equipment.description}}</td>
                <td data-title="Model Code">{{equipment.equipmentModel.modelCode}}</td>
                <td data-title="Model Name">{{equipment.equipmentModel.name}}</td>
                <td data-title="City">{{equipment.city.name}}</td>
                <td data-title="State">{{equipment.city.state}}</td>
            </tr>
            </tbody>
        </table>
        <pagination page="currentPage" total-items="totalItems" ng-model="currentPage"
                    ng-change="pageChanged()" on-select-page="setPage(page)" items-per-page="3"></pagination>
    </div>
</div>
