
<div class="container" ng-controller="siloCtrl" ng-hide"data.error">
    <div class="row">
        <div class="col-sm-12">
            <legend>{{data.mySilo.name}}</legend>
        </div>
        <div class="panel panel-default">

            <div class="panel-body form-horizontal payment-form">
                <div class="form-group">
                    <label for="description" class="col-sm-3 control-label">Description</label>

                    <div class="col-sm-9">
                        <input type="text" value="{{data.mySilo.description}}" class="form-control" id="description"
                               name="description">
                    </div>
                </div>

            </div>
            <div class="panel-body form-horizontal payment-form">
                <div class="form-group">
                    <label for="state" class="col-sm-3 control-label">State</label>

                    <div class="col-sm-9">
                        <input type="text" value="{{data.mySilo.state}}" class="form-control" id="description"
                               name="description">
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>